# Assignment

1) Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [3]:
email="sachin.pawar@netscribes.com"   # normal method
if type(email)==str:
    company_name=str((email.split("@")[1])).replace(".com","").replace('.in',"")
    name=str((email.split("@")[0]))
print(company_name)
print(name)

netscribes
sachin.pawar

In [5]:
import re
email="sachin.pawar@netscribes.com"  # using regex

company_name=re.findall(".+@([^.]+)\..+",email)[0]
company_name

'netscribes'

2) Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [25]:
data="without,hello,bag,world"
data=data.split(",")
data.sort()
new_sort_string=",".join(data)
new_sort_string

'bag,hello,without,world'

# 3) Tutorial for sets

In [27]:
a={1,2,3,4}  # sets
b={5,6,7}
print(type(a))

<class 'set'>

In [28]:
a={}  # empty set
b=set()
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

In [31]:
a={1,2,3,4} # add element 
a.add(5)
a

{1, 2, 3, 4, 5}

In [34]:
a={1,2,3,4} # add multiple element 
a.update([5,6])
a

{1, 2, 3, 4, 5, 6}

In [35]:
a={1,2,3,4} # add multiple element 
a.remove(1)
a

{2, 3, 4}

In [38]:
# Set union and insertion method

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}


print(A|B)
print(A&B)

print(A-B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [40]:
A=[1, 2, 3, 4, 5]   # from list to set
B=[4, 5, 6, 7, 8]

A=set(A)
B=set(B)

print(list(A|B))
print(list(A&B))
print(list(A-B))

[1, 2, 3, 4, 5, 6, 7, 8]
[4, 5]
[1, 2, 3]

4) Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [46]:
l=[1, 2, 3, 5, 6, 7, 8]
n = len(l) 
total = (n + 1)*(n + 2)/2
total2=sum(l) 
missing=int(total - total2 )
missing

4

5) With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [51]:
l=[12,24,35,24]
d=dict.fromkeys(l)
print(list(d))

[12, 24, 35]